<div class="Contenedor1">


    <div class="card mb-4" style="max-width:100%;" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://www.xtrafondos.com/wallpapers/red-dead-redemption-2-3377.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Carta de precentación</h5>
            <p class="card-text">Nombre del programador : Cristian Roldan</p>
            <p class="card-text">Version : 15.0.2.</p>
            <p class="card-text">Fecha de desarollo : 06-12-2022</p>
          </div>
        </div>
      </div>
    </div>



</div>
