<div class="Contendor">

    <div class="card mb-4" style="max-width:100%;" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://imagenes.20minutos.es/files/image_990_v3/uploads/imagenes/2019/11/09/andras-arato.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Bienvenidos a la APP de Rick and Morty</h5>

            </div>
          </div>
        </div>
      </div>




</div>




